<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <div class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class="nav-img" src="images/home.gif">
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="counter">
                <img class="nav-img" src="images/profile.gif">
            </NavLink>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
