<div class="card">
    <div class="title">
        お願い事リスト
    </div>

    <div class="my-stock-list">
    </div>

    <div class="btn-layout">
        <div class="make-stock-button">
            <div class="modal-001__wrap">
                <input type="radio" id="modal-001__open" class="modal-001__open-input" name="modal-001__trigger"/>
                <label for="modal-001__open"  class="modal-001__open-label">
                    作成
                </label>
                <input type="radio" id="modal-001__close" name="modal-001__trigger"/>
                <div class="modal-001">
                    <div class="modal-001__content-wrap">
                        <label for="modal-001__close" class="modal-001__close-label">×</label>
                            <div class="modal-001__content">
                                <MakeStockModal />
                            </div>
                        </div>
                        <label for="modal-001__close">
                            <div class="modal-001__background"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->


@code{
   
}
