<div class="stock-list">
    <div class="title">
        お願い事リスト
    </div>

    <div class="my-stock-list">
    </div>

    <div class="btn-layout">
        <div class="make-stock-button" data-bs-toggle="modal" data-bs-target="#MakeStockModal">
            作成
        </div>
    </div>

    <MakeStockModal />
    
</div>

@code{
   
}
