@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-user-torken">
    <h1 class="title">トークン残高</h1>
    <UserTorken />
</div>

<div class="bg-user-list">
    <h1 class="title">ユーザー検索</h1>
    <SearchUser />
</div>