.box-center{
    display: flex;
    justify-content: center;
}

.profile-center{
    display: flex;
    justify-content: center;
}

.profile{
    position: relative;
}

.profile-img{
    /* display: block; */
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #000;
}

.edit-img{
    position: absolute;
    width: 45px;
    height: auto;
}

.user-name{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.list-box{
    display: flex;
    position: relative;
    justify-content: center;
}

.give-flex{
    display: flex;
}

.bg-list{
    vertical-align: top;
    width: 25%;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: 2rem;
}

@media screen and (max-width: 900px) {
    .list-box{
        display: block;
    }

    .bg-list{
        width: 90%;
    }
}