@page "/user"

<PageTitle>User</PageTitle>

<img class="profile-img" src="images/profile.gif">
<div class="edit-button">
    <img class="edit-img" src="images/edit.png">
</div>
<div>@userName</div>

<div>

</div>
<div>

</div>
<div>

</div>

@code {
    private string? userName = "hoge";
}
